<div>
  <h1>{{list.name}}</h1>
  <div class="example-container">
    <h2>+</h2>

    <div
      cdkDropList
      #pList="cdkDropList"
      [cdkDropListData]="list.positiveEntries"
      [cdkDropListConnectedTo]="[nList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of list.positiveEntries" cdkDrag (dblclick)="addEntry(list.positiveEntries)">
        <app-editable
          [value]="item.text"
          (valueChange)="saveText( item, $event )">
        </app-editable>
        <app-editable
          [value]="item.weight"
          (valueChange)="saveWeight( item, $event )">
        </app-editable>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>-</h2>

    <div
      cdkDropList
      #nList="cdkDropList"
      [cdkDropListData]="list.negativeEntries"
      [cdkDropListConnectedTo]="[pList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of list.negativeEntries" cdkDrag>
        <app-editable
          [value]="item.text"
          (valueChange)="saveText( item, $event )">
        </app-editable>
        <app-editable
          [value]="item.weight"
          (valueChange)="saveWeight( item, $event )">
        </app-editable>
      </div>
    </div>
  </div>

  <div *ngIf="list.choice; else elseBlock">Fais-le !</div>
  <ng-template #elseBlock><div>Ne le fais pas</div></ng-template>
</div>

